@font-face {
    font-family: 'Muller Regular';
    src: url('../fonts/MullerRegular/MullerRegular.eot');
    src: url('../fonts/MullerRegular/MullerRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/MullerRegular/MullerRegular.woff') format('woff'), url('../fonts/MullerRegular/MullerRegular.ttf') format('truetype'), url('../fonts/MullerRegular/MullerRegular.svg#MullerRegular/MullerRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller Black';
    src: url('../fonts/MullerBlack/MullerBlack.eot');
    src: url('../fonts/MullerBlack/MullerBlack.eot?#iefix') format('embedded-opentype'), url('../fonts/MullerBlack/MullerBlack.woff') format('woff'), url('../fonts/MullerBlack/MullerBlack.ttf') format('truetype'), url('../fonts/MullerBlack/MullerBlack.svg#MullerBlack/MullerBlack') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller Light';
    src: url('../fonts/MullerLight/MullerLight.eot');
    src: url('../fonts/MullerLight/MullerLight.eot?#iefix') format('embedded-opentype'), url('../fonts/MullerLight/MullerLight.woff') format('woff'), url('../fonts/MullerLight/MullerLight.ttf') format('truetype'), url('../fonts/MullerLight/MullerLight.svg#MullerLight/MullerLight') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}