*
    box-sizing: border-box

.container
    margin: 0px auto
    max-width: 1400px
    @media (max-width: 575.98px)
        max-width: 100%
        padding: 0 25px 0 25px
        // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) and (max-width: 767.98px) 
        max-width: 540px
        // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) and (max-width: 991.98px) 
        max-width: 720px
        // Large devices (desktops, 992px and up)
    @media (min-width: 992px) and (max-width: 1199.98px) 
        max-width: 960px
        // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) and (max-width: 1919.98px) 
        max-width: 1140px

    @media ( min-width:1920  )
        max-width: 1400px
