body
  font-family: 'Fira Sans', sans-serif
  height: 100vh
  display: flex
  flex-direction: column
  margin: 0
  padding: 0
a
  text-decoration: none

.content 
  flex: 1 0 auto
  &-title
    text-align: center
    font-weight: bold
    font-size: 44px
    padding-top: 100px
    @media screen and ( max-width:576px  )
      font-size: 38px
      

.footer 
  flex-shrink: 0
