.header
    display: flex
    flex-direction: column
    justify-content: space-between
    background: #fff
    padding-top: 30px
    width: 100%
    @media screen and ( max-width:768px  )
        padding-top: 10px

    &-wrapper
        display: flex
        justify-content: space-between
        align-items: center
        padding-bottom: 40px
        @media screen and ( max-width:450px )
            flex-direction: column
            padding: 0
            

    &-item
        display: flex
        flex-direction: row
        align-items: center
        font-weight: bold
        font-size: 20px
        @media screen and ( max-width:768px  )
            font-size: 18px
        @media screen and ( max-width: 450px )
            padding: 10px
            font-size: 16px
            
    &-logo img
        @media screen and ( max-width: 768px )
            width: 90px

    &-phone
        @media screen and ( max-width:450px  )
        a
            color: #000000
        

    &-btn
        display: flex
        align-items: center
        border: 1px solid #ff374e
        padding: 15px 50px
        margin-left: 40px
        max-width: 260px
        border-radius: 28px
        cursor: pointer
        color: #000000
        &:hover
            background: #ff374e
            color: #ffffff
        @media screen and ( max-width:550px  )
            padding: 10px 30px
            margin-left: 10px
            
        @media screen and ( max-width:375px  )
            padding: 8px 15px
            margin-left: 8px
            
    &-bg
        background: url(../img/header-bg.png) no-repeat  
        background-size: cover
        height: 42.6vw
        margin-top: -40px
        @media screen and ( max-width: 991px  )
            height: 43.8vw
        @media screen and ( max-width: 768px  )
            background: linear-gradient(to bottom, #e9e9e9 50%, #172c42 50%)
            height: 100%
            margin: 0
            
    
