.header-nav
  display: inline-flex
  overflow: hidden
  position: absolute
  max-width: 100%
  top: 100%
  @media (max-width: 580px)
    overflow: auto

.nav-item
  color: #000000
  padding: 50px 20px
  transition: .3s
  margin: 0 6px
  z-index: 1
  &:hover
      background: #ff213b
      color: #ffffff

.active
  background: #ff213b
  color: #ffffff

 
   

